@charset "UTF-8";

html {
  font-size: 62.5%;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

body {
  font-family: "Yu Gothic Medium", "遊ゴシック Medium", "Yu Gothic", "遊ゴシック体", "ヒラギノ丸ゴ Pro W3", sans-serif;
  line-height: 1.7;
  font-size: 1rem;
  color: #000;

  background-image: url("../img/web_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  padding: 0.25em; /*文字周りの余白*/
  border-left: solid 5px #2866DA; /*左線（実線 太さ 色）*/
  font-size: 2.0em;
  text-shadow: 0 0 10px #fff;
}

h3 {
  font-size: 1.8em;
  width: 10em;
}

img {
  max-width: 100%;
}

#wrap {
  width: 960px;
  margin: 0 auto;
}

header {
  width: 960px;
  border: dashed 1px #999;
}

#content {
  border: dashed 1px #999;
  margin: 10px 0 10px 0;
}

.content-item {
  margin-bottom: 50px;

}

.content-item p {
  font-size: 1.7em;
  line-height: 1.8em;
  font-weight: 600;
  text-shadow: 0 0 10px #fff;
}

.content-item ul {
  font-size: 1.7em;
  line-height: 1.8em;
  font-weight: 600;
  margin-left: -1em;
  text-shadow: 0 0 10px #fff;
}

#content-container {
  padding: 10px;
}

dd {
  margin-inline-start: 40px;
}

#nav {
  margin: 10px 0 10px 0;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.info-area dl {
  width: 100%;
  height: 150px;
  overflow: auto;
  border-top: solid 1px #2866DA;
  border-bottom: solid 1px #2866DA;
}

.info-area dt {
  font-size: 1.2em;
  margin: 15px 0 0 0;
}

.info-area dd {
  margin-left: 0;
  padding: 10px 0 20px 0;
  font-size: 1.5em;
  border-bottom: dotted 1px #2866DA;
}

#spec .container {
  justify-content: flex-start;
}

#spec .item, .enemy-content .item {
  width: 70%;
}

.enemy-content{
  margin-top: 20px;
}

#spec .img, .enemy-content .img {
  width: 30%;
  text-align: center;
}

#spec .img img, .enemy-content .img img {
  width: 200px;
}


#gallery .container {
  justify-content: space-between;
}

header .item {
  width: 50%;
}

#gallery .container img {
  border: solid 3px #333;
  width: 23%;
}

.container #nav {
  justify-content: space-between;
}

.btn-style {
  text-align: center;
  font-size: 32px;
  width: 200px;
  height: 50px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #2866DA; /*色*/
  border: solid 1px #0f9ada; /*線色*/
  border-radius: 10px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.btn-style:active {
  /*押したとき*/
  background: #ffaa22; /*色*/
  box-shadow: none;
  text-shadow: none;
}

.btn-style-enemy {
  text-align: center;
  font-size: 24px;
  width: 150px;
  height: 40px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #333; /*色*/
  border: solid 1px #000; /*線色*/
  border-radius: 10px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.btn-style-enemy:active {
  /*押したとき*/
  background: #ffaa22; /*色*/
  box-shadow: none;
  text-shadow: none;
}

#product .container .item {
  color: #000;
}

#product .container .img {
  width: 25%;
}

#product dl, #product dt,
#product dd {
  font-size: 1.4rem;
  line-height: 1.7em;
  font-weight: 600;
}

#product dl {
  display: flex;
  margin: 0 0 20px 0;
}

#product dt {
  width: 6.5em;
  height: 2em;
  background: #2866DA;
  color: #fff;
  margin: 0 15px 0 0;
  padding: 5px 5px 0 5px;
  white-space: nowrap;
}

#product dd {
  text-shadow: 0 0 10px #fff;
}

footer {
  padding: 40px 0;
  text-align: center;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}

@media screen and (max-width: 720px) {
  #wrap {
    width: 100%;
  }

  header {
    width: 100%;
  }

  header .item {
    width: 1000%;
  }

  #nav {
    display: none;
  }

  #content {
    width: 100%;
  }

  .info-area dt {
    font-size: 1.8rem;
  }

  .info-area dd {
    font-size: 2.0rem;
  }

  .btn-style-enemy {
    font-size: 1.5rem;
    width: 4em;
    height: 1.7em;
  }

  #spec .item, .enemy-content .item  {
    width: 100%;
  }

  #spec .img, .enemy-content .img  {
    width: 100%;
    padding: 20px 0 20px 0;
  }

  #gallery .container img {
    width: 45%;
    margin-bottom: 20px;
  }

  #product .container .img {
    width: 75%;
    padding: 20px;
    margin-bottom: 40px;
  }


}